/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout styles */
body {
  font-family: sans-serif;
  background-color: #0f0f0f;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: .5em;
}

.inputs input {
  width: 150px;
  text-align: center;
  font-size: 18px;
  margin-right: .5em;
}

.inputs input[type="range"] {
  width: 200px;
}

.inputs button {
  margin: 1em;
  padding: .5em 1em;
}
.inputs label > input {
  margin-left: .25em;
}

.container {
  width: 95%;
  height: auto;
  margin-top: 1em;
}

.track {
  padding: 0 0 0.75em;
  margin-bottom: 1.5em;
}

.track .title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 60%;
  position: relative;
  top: -1.2em;
  background: #fc9;
  color: black;
  padding: .5em 1em .25em;
  border-radius: 10px;
}

/* Step Sequencer */
.beats-container {
  display: grid;
  grid-gap: 1px;
  /* grid-template-columns: repeat(16, 1fr); set dynamically via bars/beats */
}

.beat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1.25;

  background: rgb(68,68,68);
  background: linear-gradient(180deg, rgba(68,68,68,1) 0%, rgba(153,153,153,1) 35%, rgba(34,34,34,1) 100%);

  cursor: pointer;
  border-radius: 5px;
}

.beat.bar-first {
  border: 2px solid #999;
}


.beat.highlight {
  background: white;
}

.beat:after {
  position: absolute;
  width: 75%;
  height: 25%;
  background: black;
  top: 15%;
  border-radius: 5px;
  border-top: 3px solid #222;
  border-bottom: 1px solid #ccc;
  content: "";
}
.beat.active:after {
  background: green;
}

