/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout styles */
body {
  font-family: sans-serif;
  background-color: #0f0f0f;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: .5em;
}

.inputs input {
  width: 150px;
  text-align: center;
  font-size: 18px;
  margin-right: .5em;
}

.inputs input[type="range"] {
  width: 200px;
}

.inputs button {
  margin: 1em;
  padding: .5em 1em;
}
.inputs label > input {
  margin-left: .25em;
}

.container {
  width: 95%;
  height: auto;
}

/* Step Sequencer */
.beats-container {
  display: grid;
  grid-gap: 3px;
  /* grid-template-columns: repeat(16, 1fr); set dynamically via bars/beats */
}

.beat {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;

  border: 1px solid black;
  background-color: #444;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 25px;
}

.beat.bar-first {
  border: 2px solid #999;
}

.beat.active {
  background-color: #ffa;
}

.beat.highlight {
  background-color: white;
}

